<div class="container-fluid p-4" id="controller">
    <header>
        <h1>{{data.project.title}}</h1>
        <p class="lead">{{data.project.description}}</p>
        <p class="alert alert-dark">Instructions</p>
    </header>    
    
    {{!-- Main Controller Body --}}
    <div></div>
</div>

<script>
    let socket = io('/controller');

    document.addEventListener('DOMContentLoaded', (event) => {
        // ready to go
    })
</script>