<header class="bg-light p-4 mb-4">
    <h1 class="display-5 fw-bold">{{data.project.title}}</h1>
    <p class="lead">
        An exercise in believing in the subjectivity of art
    </p> 
</header>

<div class="container-fluid p-4" id="game-board">
    <div class="mb-4">
        Here are a few simple rules to maximize your enjoyment
        <ul>
            <li>Don't read the wall labels</li>
            <li >Don't believe what you see</li>
            <li>Be receptive to different perspectives</li>
        </ul>
    </div>

    <div id="game-header">
       <span class="spinner-border spinner-border-sm "></span> Waiting for the MCP to start a game...
    </div>
    <ul id="game-message-list"></ul>
    <div id="game-solution"></div>
</div>



<script>
    let socket = io('/player');
    let gameBoard = document.getElementById("game-board");
    let gameHeader = document.getElementById("game-header");
    let gameMessages = document.getElementById("game-message-list");
    let gameSolution = document.getElementById("game-solution");

    document.addEventListener('DOMContentLoaded', (event) => {
        // ready to go

        socket.on('join game', (game) => {

        });

        socket.on('game started', (game) => {
            resetGameBoard();
            updateGameHeader(game);
            updateGameBoard(game);
        });        

        socket.on('game updated', (game) => {
            updateGameBoard(game);
        });

        socket.on('game ended', (game) => {
            updateGameSolution(game);
        });                
    });

    function resetGameBoard() {
        gameHeader.innerHTML = '';
        gameMessages.innerHTML = '';
        gameSolution.innerHTML = '';
    }

    function updateGameHeader(game) {
        gameHeader.innerHTML = '<h2>Let the games begin</h2>';
        gameHeader.innerHTML += `<p>You are in gallery ${game.gallery.number}, ${game.gallery.name}, on Level ${game.gallery.floor}.</p>
            <p>You are standing amongst ${game.gallery.objectcount}-ish artworks.</p>
            <p>The AIs are colluding and about ready to challenge your notion of aesthetics and power to think outside the box.</p>
            <p>We spy with our artificial eyes...</p>`;
    }
    
    function updateGameBoard(game) {
        gameMessages.innerHTML = '';
        game.clues.forEach(clue => {
            gameMessages.innerHTML += `<li>${clue.body}</li>`;
        })
        gameMessages.innerHTML += `<li><span class="spinner-border spinner-border-sm "></span></li>`;
    }

    function updateGameSolution(game) {
        gameMessages.lastElementChild.remove();

        gameSolution.innerHTML = `<h2>The MCP has ended the game</h2>
            <p>The artwork you're looking for is <strong>${game.object.title}</strong>. It looks like this.</p>
            <figure>
                <img class="img-fluid" src="${game.object.iiifbaseuri}/full/550,/0/default.jpg">
                <figcaption><a href="${game.object.url}">Visit me online</a></figcaption>
            </figure>
            <p class="mt-4 pt-3">
                <a href="/game/grid" class="btn btn-lg btn-outline-primary p-4">Play Again</a>
            </p>`;
    }
</script>