<div class="container-fluid p-4" id="home">
    <h1>{{data.project.title}}</h1>
    <p>{{data.project.description}}</p>
    <p>{{data.project.instructions}}</p>

    <section>
        <ul>
            <li><a href="/game/grid">Join a Game</a></li>
        </ul>
    </section>
</div>    