<header class="bg-light p-4 mb-4">
    <h1 class="display-5 fw-bold">{{data.project.title}}</h1>
    <p class="lead">
        {{data.project.description}}
    </p> 
</header>

<div class="container-fluid pb-4" id="home">
    <section class="mb-4 p-4 border">
        <h2>Instructions</h2>
        <p>{{data.project.instructions}}</p>
        <h2>Suggestions</h2>
        <ul>
            <li>Don't read the wall labels</li>
            <li>Don't believe what you see</li>
            <li>Be receptive to different perspectives</li>
        </ul>
    </section>
    <section>
        <a href="/game/grid" class="btn btn-lg btn-outline-primary p-4">Join a Game</a>
    </section>
</div>    