<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
    <title>{{title}}</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/scripts/anime.min.js"></script>
  </head>
  <body>
    {{{body}}}

    <footer class="d-flex flex-wrap justify-content-between p-3 mt-4 border-top">
      <p class="col-md-4 mb-0 text-muted"><a href="https://hvrd.art"><img width="40" src="/images/H_slash.png"></a></p>
      <p class="col-md-4 mb-0 text-muted justify-content-end">Crafted with <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://animejs.com/">Anime.js</a></p>        
    </footer>

  </body>
</html>
