{{!-- 1x1 grid --}}
<div id="shades" class="grid-1x1">
    <div id="" class="shade"><h1>1.1</h1></div>
</div>

{{!-- 2x1 grid --}}
{{!-- 
<div id="shades" class="grid-2x1">
    <div id="" class="shade"><h1>1.1</h1></div>
    <div id="" class="shade"><h1>2.1</h1></div>
</div> --}}

{{!-- 4x1 grid --}}
{{!-- <div id="shades" class="grid-4x1">
    <div id="" class="shade"><h1>1.1</h1></div>
    <div id="" class="shade"><h1>2.1</h1></div>
    <div id="" class="shade"><h1>3.1</h1></div>
    <div id="" class="shade"><h1>4.1</h1></div>
</div> --}}


<script>
    let socket = io('/shades');

    document.addEventListener('DOMContentLoaded', (event) => {
        // ready to go
    })
</script>